/* You can add global styles to this file, and also import other style files */

h1{
    color: blue;
    font-size: 60px;
}

.nombre{
    text-align: center;
    margin: 1px solid #000;
    animation-name: a;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes a {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
