<body>
	<div id="message" class="messages"><div class="msj" style="text-align: center;margin-top: 12%; top: 10%; font-size: 25px;"> El correo o la contraseña son incorrectos</div></div>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('./assets/images/wp3797698.jpg');">
			
			<div class="wrap-login100" style="margin: 0%;">
			
					<span class="login100-form-logo" >
						<img src="./assets/user.png">
					</span>

					<span style="margin:0%; padding:0%" class="login100-form-title p-b-34 p-t-27">
						Ingresar
					</span>

					<div class="text-center p-t-90" style="margin: 0%; text-align: center;">
						<p>¿No tienes cuenta?</p>
						<a class="txt1" href="create_account.php">
							Crear cuenta
						</a>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Necesita ingresar nombre de usuario">
						<input id="user" class="input100" type="text" name="usuario" placeholder="Ingresa tu usuario">
						<span class="focus-input100" data-placeholder="./assets/user.png"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Necesita ingresar contraseña">

						<input id="pass"  class="input100" type="password" name="contraseña" placeholder="Contraseña">
						<span class="focus-input100" data-placeholder="&#xf191;" ></span>
					
						
					</div>

					<div class="contact100-form-checkbox" >
						<div>
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" style="margin:0" >
						
							<label class="label-checkbox100" for="ckb1">
								Recordarme
							</label>

						</div>
					</div>

					<div class="container-login100-form-btn">
						<button value="ingresar" class="login100-form-btn">
							Ingresar
						</button>
					</div>
					

					<div class="text-center p-t-90" style="text-align: center;">
						<a class="txt1" href="recovery_pass.html">
							¿Olvidaste tu contraseña?
						</a>
					</div>
                    
			</div>
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>

	
